* {
	display: border-box;
}

body {
	height: 200px;
	width: 350px;
	margin: none;
}

#navigate {
	height: 40%;
}

.row {
	height: 100%;
}

.navBtn {
	float: left;
	height: 100%;
	width: 47%;
	margin: 0 1%;
	border: 1px solid silver;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: 0px 1px 0px silver;
	overflow: hidden;
}

.navBtn:hover {
	background-color: #EEE;
}

.navBtn:active {
	box-shadow: inset 1px 2px 3px #ccc;
}

.centerHead {
	text-align: center;
}

#inbox-icon {
	height: 80px;
	width: 100px;
	display: block;
	margin: 0 auto;
}

#gmail-icon {
	display: block;
	height: 70px;
	width: 110px;
	margin: 4px auto;
	padding: 2px 0;
}

.dates {
	color: gold;
	border: 1px solid black;
}



